<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13A603</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CodaScriptPlugIn</string>
	<key>CFBundleIconFile</key>
	<string>plug-in</string>
	<key>CFBundleIdentifier</key>
	<string>fr.weberantoine.coda.comparator</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>CodaAuthorString</key>
	<string>WEBER Antoine</string>
	<key>CodaDescriptionString</key>
	<string>Comparator is a Coda2 plugin, that launch your favorite diff tool, and compare files.</string>
	<key>CodaPlugInMinimumAPIVersion</key>
	<string>5</string>
	<key>CodaPlugInSupportedAPIVersion</key>
	<integer>6</integer>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5A2053</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>11D50a</string>
	<key>DTSDKName</key>
	<string>macosx10.7</string>
	<key>DTXcode</key>
	<string>0501</string>
	<key>DTXcodeBuild</key>
	<string>5A2053</string>
	<key>NSPrincipalClass</key>
	<string>CodaScriptPlugIn</string>
	<key>commands</key>
	<array>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>document</string>
			<key>keyEquivalent</key>
			<string>@&amp;</string>
			<key>keyEquivalentConflict</key>
			<true/>
			<key>name</key>
			<string>Use file as Left</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>saver1.php</string>
			<key>uuid</key>
			<string>1E87171F-CD57-41DC-970F-62D4B1A2B353</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>document</string>
			<key>keyEquivalent</key>
			<string>@é</string>
			<key>keyEquivalentConflict</key>
			<true/>
			<key>name</key>
			<string>Use file as Right</string>
			<key>script</key>
			<string>saver2.php</string>
			<key>uuid</key>
			<string>B4612BCE-72F6-46D4-BEB7-165A9C590DEA</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>keyEquivalent</key>
			<string>@@</string>
			<key>keyEquivalentConflict</key>
			<true/>
			<key>name</key>
			<string>Compare (Left &amp; Right)</string>
			<key>script</key>
			<string>compare.bash</string>
			<key>uuid</key>
			<string>88AF0F45-7469-4C4D-A213-71B4E618087A</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Auto (default or your own script)</string>
					<key>output</key>
					<string>discard</string>
					<key>script</key>
					<string>auto.bash</string>
					<key>uuid</key>
					<string>DD6928F5-F46B-4F37-B5D5-6B7C5C24DF38</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>FileMerge from XCode</string>
					<key>script</key>
					<string>xcode.bash</string>
					<key>uuid</key>
					<string>E2D2D3EB-4CC0-4900-A8CC-48E574BC8AB8</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>DiffMerge from SourceGear</string>
					<key>script</key>
					<string>diffmerge.bash</string>
					<key>uuid</key>
					<string>AB7C15CD-926D-4173-909B-B09536D7ECE1</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Kaleidoscope from BlackPixel</string>
					<key>script</key>
					<string>kdiff.bash</string>
					<key>uuid</key>
					<string>2471697D-0C27-49A2-B9CD-A3312D696510</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>VimDiff in Terminal</string>
					<key>script</key>
					<string>vdish.bash</string>
					<key>uuid</key>
					<string>93AB2A3D-E9C3-4F85-BA7B-81FB69EE02B6</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Diff in Terminal</string>
					<key>script</key>
					<string>diff.bash</string>
					<key>uuid</key>
					<string>17D1E33E-DA06-4478-A456-54D6E783122A</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Kdiff3 from Joachim Eibl</string>
					<key>script</key>
					<string>kdiff.bash</string>
					<key>uuid</key>
					<string>F9DEAD9C-49D5-4BC0-AD28-4D8068621FA8</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>P4Merge from Perforce</string>
					<key>script</key>
					<string>p4m.bash</string>
					<key>uuid</key>
					<string>CA233DC3-A76F-4F1E-8A20-DB53E3DF79ED</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Merge from Araxis</string>
					<key>script</key>
					<string>araxis.bash</string>
					<key>uuid</key>
					<string>6A4B22B7-4851-4F28-B20A-5EB0F69751C4</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>RoaringDiff from Biscade</string>
					<key>script</key>
					<string>roar.bash</string>
					<key>uuid</key>
					<string>E641BFAB-1C61-4C73-B44C-E491B898C6EB</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Differencia from DaytimeSoftware</string>
					<key>script</key>
					<string>ddt.bash</string>
					<key>uuid</key>
					<string>D00DDCF5-54F9-4BAE-8595-C5305CBBAD52</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>DeltaWalker from Deltopia</string>
					<key>script</key>
					<string>dw.bash</string>
					<key>uuid</key>
					<string>47A1395C-EC2C-4562-BD89-A830A47490CA</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Guiffy from GuiffySoftware</string>
					<key>script</key>
					<string>gf.bash</string>
					<key>uuid</key>
					<string>3EAC6F5A-FDBF-41C9-99D3-2DAAB7DD5AAD</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>DiffFork from DotFork</string>
					<key>script</key>
					<string>dff.bash</string>
					<key>uuid</key>
					<string>FB4293DA-26F7-4EC6-A5B2-8125E55C7AAC</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>ECMerge from ElliéComputing</string>
					<key>script</key>
					<string>ec.bash</string>
					<key>uuid</key>
					<string>D7963748-2AEE-426A-B9FF-DF7D22166157</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Changes from BitBQ</string>
					<key>script</key>
					<string>chg.bash</string>
					<key>uuid</key>
					<string>7B6DE3C1-EFF9-4818-9206-4763874179CF</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>TextWrangler's Diff from Barebones</string>
					<key>script</key>
					<string>twdf.bash</string>
					<key>uuid</key>
					<string>E6CE6C45-9FD0-41F6-8416-D5C681FFA105</string>
				</dict>
			</array>
			<key>name</key>
			<string>-&gt; Choose Diff Tool</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>2-Way ( Left / Right)</string>
					<key>script</key>
					<string>2w.bash</string>
					<key>uuid</key>
					<string>0B3F9902-74A0-4A26-8AFC-B44005A98C56</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>3-Way ( Left / Right / Merge)</string>
					<key>script</key>
					<string>3w.bash</string>
					<key>uuid</key>
					<string>504A5767-8536-405D-BBAF-AE86D55E6695</string>
				</dict>
			</array>
			<key>name</key>
			<string>-&gt; Choose Diff Method</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Empty</string>
					<key>script</key>
					<string>mgem.bash</string>
					<key>uuid</key>
					<string>BD984092-4C2F-45B6-9A8B-B644991D1474</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Copy from Left file</string>
					<key>script</key>
					<string>mgcl.bash</string>
					<key>uuid</key>
					<string>3924C324-5FFA-463A-A2FE-925D7A60942A</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Copy from Right file</string>
					<key>script</key>
					<string>mgcr.bash</string>
					<key>uuid</key>
					<string>ADF3914D-8910-4C83-BE6F-13FB0863C250</string>
				</dict>
			</array>
			<key>name</key>
			<string>-&gt; Choose Merge initial state for 3-Way</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>keyEquivalent</key>
			<string>@"</string>
			<key>keyEquivalentConflict</key>
			<true/>
			<key>name</key>
			<string>Replace current file with Merge</string>
			<key>output</key>
			<string>replaceDocument</string>
			<key>script</key>
			<string>replace.bash</string>
			<key>uuid</key>
			<string>2D727498-C4B1-4B8B-BB6F-187A9502F5F6</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Open in Local root dir</string>
			<key>output</key>
			<string>newDocument</string>
			<key>script</key>
			<string>echo.bash</string>
			<key>uuid</key>
			<string>891FE077-2AE7-4555-972A-F55D8DF8704F</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Online Help</string>
					<key>output</key>
					<string>showAsHTML</string>
					<key>script</key>
					<string>about.php</string>
					<key>uuid</key>
					<string>1229F642-8915-439B-B9D8-A1041DBCB5D3</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Check Update</string>
					<key>script</key>
					<string>upd.bash</string>
					<key>uuid</key>
					<string>9715893F-214D-4105-9CBA-C5EC86250AFD</string>
				</dict>
			</array>
			<key>name</key>
			<string>Help</string>
		</dict>
	</array>
</dict>
</plist>
